body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #232634;
  color: #d9e0ee;
}

section {
  padding: 50px 20px;
  text-align: center;
}

.first-sector {
  background-color: #1e1e28;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 3em;
  margin-bottom: 20px;
}

.second-sector {
  background-color: #1e1e28;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 100px 20px;
  transition:
    opacity 1s ease,
    transform 1s ease;
}

.subsector {
  opacity: 0;
  transform: translateY(50px);
}

.subsector img {
  max-width: 150px;
  border-radius: 8px;
}

.subsector p {
  font-size: 1.2em;
  margin-top: 10px;
}

.footer {
  background-color: #141421;
  padding: 5px;
  text-align: center;
  color: #a6adc8;
}

.reveal {
  opacity: 1;
  transform: translateY(0);
}
