@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Virgil";
  src: url("Virgil.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #232634;
  color: #d9e0ee;
  overflow-x: hidden;
  font-family: "Virgil", "Baloo Da 2", sans-serif;
}

.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid red;
}

svg {
  height: 7rem;
  width: 7rem;
}

.navigation {
  display: flex;
  gap: 1.5rem;
}

.navigation li {
  list-style: none;
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  background: none;
  font-size: 1.3rem;
  padding: 0.4rem;
  text-transform: uppercase;
  border-style: solid;
  border-color: white;
  transition: 0.3s;
}

a:hover {
  background: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}

.toggler {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown {
  position: absolute;
  right: 2rem;
  top: 80px;
  right: 52px;
  width: 300px;
  list-style: none;
  display: none;
}

.close {
  display: none !important;
}

.dropdown li {
  padding: 1.2rem;
}

/* filthy mobile users */
@media (max-width: 992px) {
  .navigation {
    display: none;
  }

  .toggler {
    display: block;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: red;
    background: #1e2229;
  }
}
@media (max-width: 992px) {
  .dropdown {
    left: 2rem;
    width: unset;
  }
}

section {
  padding: 50px 20px;
  text-align: center;
}

.wishcard {
  background-color: #1e1e28;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 3em;
  margin-bottom: 20px;
}

.tour {
  background-color: #1e1e28;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 100px 20px;
  transition:
    opacity 1s ease,
    transform 1s ease;
}

.subsector {
  opacity: 0;
  transform: translateY(50px);
}

.subsector img {
  max-width: 150px;
  border-radius: 8px;
}

.subsector p {
  font-size: 1.2em;
  margin-top: 10px;
}

.footer {
  background-color: #141421;
  padding: 5px;
  text-align: center;
  color: #a6adc8;
}

.reveal {
  opacity: 1;
  transform: translateY(0);
}
